@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body {
  background: #e5e5e5;
  font-family: 'Lato', sans-serif;
  margin: 0px auto;
}

::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}

a{
  color: rgba(82,179,217,0.9);
}

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background: rgba(82,179,217,0.9);
  z-index: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.back {
  position: absolute;
  width: 40px;
  height: 50px;
  top: 0px;
  left: 0px;
  color: #fff;
  line-height: 50px;
  font-size: 30px;
  padding-left: 10px;
  cursor: pointer;
}

.back:active {
  background: rgba(255,255,255,0.2);
}

.room_name{
  position: absolute;
  top: 8px;
  left: 57px;
  font-family: 'Lato';
  font-size: 25px;
  font-weight: 300;
  color: rgba(255,255,255,0.98);
  cursor: default;
}
.last{
  position: absolute;
  top: 30px;
  left: 115px;
  font-family: 'Lato';
  font-size: 11px;
  font-weight: 400;
  color: rgba(255,255,255,0.6);
  cursor: default;
}

.chat {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0 0 50px 0;
  margin-top: 60px;
  margin-bottom: 10px;
}
.chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.left .msg {
  order: 1;
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #D4D4D4;
}

.msg {
  background: white;
  min-width: 50px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
  color: #777;
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
    box-shadow: inset 0px 50px 0px rgba(82,179,217,0.9), inset 0px -52px 0px #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border: none;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
  box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
  box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
}


input.textarea {
  position: fixed;
  bottom: 0px;
  left: 20px;
  right: 0px;
  width: 100%;
  height: 50px;
  z-index: 99;
  background: #fafafa;
  border: none;
  outline: none;
  padding-left: 25px;
  padding-right: 55px;
  color: #666;
  font-weight: 400;
}

#inputs {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 52px;
  z-index: 98;
  background: #fafafa;
  border: none;
  outline: none;
  padding-left: 25px;
  padding-right: 55px;
}

.send {
  position: fixed;
  display: block;
  bottom: 8px;
  right: 7px;
  width: 34px;
  height: 34px;
  background-image: url('https://cdn2.iconfinder.com/data/icons/dark-action-bar-2/96/send-256.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  cursor: pointer;
}

.send:active {
  opacity: 0.1;
}

#rainbow {
  position: fixed;
  display: block;
  bottom: 11px;
  left: 6px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}

#user_name {
  animation-name: ColorPalette;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.rainbow {
  animation-name: ColorPalette;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes ColorPalette {
  0% {
    color: #ee6055;
  }
  14% {
    color: #ff9100;
  }
  28% {
    color: #ffe600;
  }
  43% {
    color: #00ee14;
  }
  57% {
    color: #008bfd;
  }
  74% {
    color: #150863;
  }
  100% {
    color: #4c00fd;
  }
}